---
import Base from '../../layouts/Base.astro';
import MainHeading from '../../components/MainHeading.astro';
import Card from '../../components/Card.astro';
const pageTitle = "Homepage";
const tils = Object.values(import.meta.glob('./*.md', { eager: true }));
---
<Base title={pageTitle}>
	<MainHeading title="TILs" />

	<ul class="u-list-reset">
		{tils.map((til: any) => <li class="u-mb2"><Card url={til.url} title={til.frontmatter.title} lastModified={til.frontmatter.date} tags={til.frontmatter.tags} /></li>)}
	</ul>
</Base>

<script>
	import "../../scripts/tags.js";
</script>