---
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';
import MainHeading from '../../components/MainHeading.astro';

export async function getStaticPaths() {
  const tils = Object.values(import.meta.glob('../til/*.md', { eager: true }));

  const uniqueTags = [...new Set(tils.map((post: any) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
  const filteredTils = tils.filter((post: any) => post.frontmatter.tags.includes(tag));
  return {
    params: { tag },
    props: { tils: filteredTils },
  };
});
}

const { tag } = Astro.params;
const { tils } = Astro.props;
---
<Base>
	<MainHeading title={`TILs tagged with ${tag}`} />

  <ul class="u-list-reset">
		{tils.map((til: any) => <li class="u-mb2"><Card url={til.url} title={til.frontmatter.title} lastModified={til.frontmatter.date} tags={til.frontmatter.tags} /></li>)}
  </ul>
</Base>