---
import Base from '../layouts/Base.astro';

import Card from '../components/Card.astro';
import Introduction from '../components/Introduction.astro';

const pageTitle = "Homepage";

const tils = Object.values(import.meta.glob('./til/*.md', { eager: true }));
---
<Base title={pageTitle}>
	<section>
		<Introduction />
	</section>

	<!-- spotify widget tutorial: https://medium.com/@alagappan.dev/create-a-now-playing-widget-using-the-spotify-web-api-in-react-a6cb564ed923 -->

	<h2>Recent TILs</h2>
	<ul class="u-list-reset">
		{tils.map((til: any) => <li class="u-mb2"><Card url={til.url} title={til.frontmatter.title} lastModified={til.frontmatter.date} tags={til.frontmatter.tags} /></li>)}
	</ul>
</Base>