---
import Base from '../layouts/Base.astro';

import Card from '../components/Card.astro';
import Introduction from '../components/Introduction.astro';

const pageTitle = "Homepage";

const projects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
const lastProjects = projects.slice(0, 4);
---
<Base title={pageTitle}>
	<section>
		<Introduction />
	</section>

	<h2>Stuff I've built</h2>
	<ul class="u-list-reset o-grid__2-cols">
		{lastProjects.map((project: any) => <li class="u-mb2"><Card url={project.url} title={project.frontmatter.title} lastModified={project.frontmatter.date} tags={project.frontmatter.tags} /></li>)}
	</ul>
</Base>